html {
    font-family: "Libre Franklin", Helvetica, sans-serif !important;
    background-color: #f2f2f298;
}

body {
    margin: 0;
    //width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-weight: 700;
    line-height: 1.3;
    font-size: 48px;
}

h2 {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
}

p {
    margin: 0;
}

//odd colour green, while skipping the first section
section:nth-of-type(2n+3) {
   background-color: #5dbb46;
}

.section {
    &-1 {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        &-overlay {
            position: relative;
            width: 1200px;
            min-height: 780px;
            margin-left: auto;
            margin-right: auto;
            color: white;

            &-heading {
                position: absolute;
                left: 50px;
                top: 340px;
                width: 850px;
            }

            &-text {
                position: absolute;
                left: 50px;
                top: 485px;
                width: 750px;
                line-height: 1.6;
            }

            &-button {
                &-1 {
                    position: absolute;
                    left: 50px;
                    top: 595px;
                }

                &-2 {
                    position: absolute;
                    left: 270px;
                    top: 595px;
                }
            }
        }

        &-video {
            filter: brightness(60%);
            position: absolute;
            z-index: -1;
            min-width: 100%; 
            min-height: 100%;
        }
    }

    &-2 {

        &-overlay {
            position: relative;
            width: 1200px;
            min-height: 740px;
            margin-left: auto;
            margin-right: auto;

            &-image {
                position: absolute;
                left: 50px;
                top: 80px;
                margin-right: 100px;
                border-radius: 20px;
                object-fit: cover;
                height: 580px;
                width: 450px;
            }
    
            &-heading {
                position: absolute;
                left: 600px;
                top: 80px;
                width: 570px;
                padding: 50px 0 50px 25px;
                color: white;
                border-radius: 30px 0 0 30px;
                background-image: linear-gradient(to right,#5dbb46 75%, #f2f2f298);
            }
    
            &-text {
                position: absolute;
                left: 610px;
                top: 245px;
                width: 540px;
                line-height: 1.6;

                p {
                    margin-bottom: 25px;
                }
            }

            &-button-1 {
                position: absolute;
                left: 610px;
                top: 610px;
            }
        }
    }

    &-3 {

        &-overlay {
            position: relative;
            width: 1200px;
            min-height: 480px;
            margin-left: auto;
            margin-right: auto;
            color: white;

            &-heading {
                position: absolute;
                left: 50px;
                top: 100px;
                width: 720px;
                line-height: 1.3;
            }
    
            &-text {
                position: absolute;
                left: 50px;
                top: 235px;
                width: 640px;
                line-height: 1.6;
            }
    
            &-button-1 {
                position: absolute;
                left: 50px;
                top: 330px;
            }

            &-image {
                position: absolute;
                left: 800px;
                top: 90px;
                border-radius: 50%;
                height: 300px;
                width: 300px;
            }
        }
    }
}

.btn {
    display: flex;
    width: 200px;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: white;
    color: #5dbb46;
    transition: .1s;
    font-weight: 700;

    &:hover {
        background-color: #5dbb46;
        color: white;
    }

    &--green {
        background-color: #5dbb46;
        color: white;

        &:hover {
            background-color: white;
            color: #5dbb46;
        }
    }
}